body{
    background-color: turquoise;
}
label{
    color: rgb(0, 0, 0);
    padding: 20px 0;
}

button{
    background-color: rgb(78, 78, 78);
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
}
select , input{
    width: 100%;
    padding: 8px;
}
.Polaris-Card {
    padding: 20px;
}
#users tr{
    padding: 5px 0;
}

.select2-container .select2-selection--single{
  height:34px !important;
}
.select2-container--default .select2-selection--single{
       border: 1px solid #ccc !important; 
   border-radius: 0px !important; 
}
